:root {
  --text-shadow: 1px 1px 1px #222;
  --tp-white-bg: #ffffff33;
  --bdrs: 1rem;
}


/* **** CSS RESET **** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}